extends ../layout/base
block content
    section.content-header
        h1
            | Add Dokter
            small it all starts here
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    | Lainnya 
                li.active Here
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Dokter
                .box-tools.pull-right
                    button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
                        i.fa.fa-minus

            .box-body
                form(role='form',method='post' action='/dokter/add')
                    .row

                        .col-xs-6
                            .box-body
                                - if (messages.msg_error)
                                    .alert.alert-danger.alert-dismissable
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true')
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert!
                                        | !{messages.msg_error}
                                .form-group
                                    label
                                        | Nama Dokter
                                    input(type='text',value='#{nama_dokter}',name='nama_dokter',placeholder='Masukkan Nama', autofocus).form-control
                                .form-group
                                    label0
                                        | Gender
                                    input(type='text',name='jenis_kelamin',placeholder='Masukkan Gender').form-control
                                .form-group
                                    label
                                        | Spesialis
                                    input(type='text',value='#{spesialis}',name='spesialis',placeholder='Masukkan Spesialis').form-control
                                .form-group
                                    label
                                        | Jam Praktik
                                    input(type='text',name='jam_praktik',placeholder='Masukkan Jam Praktik').form-control
                            .box-footer
                                button(type='submit').btn.btn-primary
                                    | Submit

                                a(href='/dokter').btn.btn-primary.pull-right
                                    | Back